# EDA

## Librerías

In [1]:
import pandas as pd
from ydata_profiling import ProfileReport

c:\dev\proyecto_final_talento_tech\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Lectura del conjunto de datos

In [2]:
df = pd.read_csv('../data/CPN50_cement_composition_strength.csv')

df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,date,ric,nat,pl,em,ml,rie,g75µ,g45µ,sba,...,r91_iram1622,pf,so3,mgo,sio2,fe2o3,caot,al2o3,na2o,k2o
0,2018-01-02,7707ST,AC,3,LML,3,7707ST,0.34,4.22,396.0,...,NaN,1.83,2.89,0.99,22.16,4.60,60.98,4.86,0.10,1.14
1,2018-01-02,7702ST,AC,2,LML,2,7702ST,0.68,4.45,399.0,...,NaN,1.58,2.88,0.71,22.62,4.08,61.09,4.58,0.13,1.01
2,2018-01-05,7722ST,AC,2,LML,2,7722ST,0.68,4.45,399.0,...,NaN,1.83,2.90,0.90,22.76,4.49,61.90,4.69,0.12,1.02
3,2018-01-07,7726ST,AC,3,LML,3,7726ST,0.81,4.59,394.0,...,NaN,1.97,2.84,0.72,22.45,4.08,61.75,4.57,0.12,1.02
4,2018-01-08,7729ST,AC,2,LML,2,7729ST,0.38,3.46,392.0,...,NaN,2.01,2.85,0.69,22.67,4.16,61.07,4.64,0.13,1.04

## EDA usando la librería ydata_profiling

In [3]:
profile = ProfileReport(df, title="Cement Profiling Report")
profile.to_file("cement_report_prepared.html")

Summarize dataset: 100%|██████████| 324/324 [01:18<00:00,  4.14it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:20<00:00, 20.94s/it]
Render HTML: 100%|██████████| 1/1 [00:14<00:00, 14.54s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  6.01it/s]

## Definiciones posteriores al EDA

* La columna ``r91_iram1622`` no tiene datos, por lo que se eliminará del conjunto de datos
* Las columnas ``g75µ`` y ``g45µ`` están altamente correlacionadas, y viendo los valores faltantes y ceros, se eliminará la columna ``g75µ`` y nos quedaremos con ``g45µ``
* Por definiciones de negocio, las columnas ``date``, ``ric``, ``nat``, ``pl``, ``em``, ``ml`` y ``rie`` no aportan valor para el modelado de los datos, ya que corresponden a fechas, molinos, identificadores, constantes
* Las columnas caracterísiticas que tengan valores faltantes se eliminarán con el fin de mantener integridad en los datos y confiabilidad con el resultado al emplear datos reales
* Se evaluará la posibilidad de modelar las resistencias usando modelos de machine learning